<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Xilong Yang</title>
        <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/res/favicon.ico" type="image/x-icon">
        <link href="/style/wrapper.css" rel="stylesheet">
        <link id="code-style" href="/res/latex-css-1.10.0/prism/prism-one-light.css" rel="stylesheet">
        <link id="img-invert" href="" rel="stylesheet">
        <script src="/scripts/init.js" defer type="module"></script>
    </head>
    <body>
        <div class="navbar">
            <i class="material-icons icon" id="darkmode">dark_mode</i>
        </div>
        <div class="header">
            <h1>Xilong Yang</h1>
            <p class="author">Programmer</p>
        </div>
        <div class="abstract">
            <h2>About</h2>
            <p>
                Hi, this is Xilong, a programmer who strives to create things that are simple and elegant.
                I matain a <a href="https://github.com/xilongyang">Github account</a>.
                Feel free to contact me via email: <a href="mailto:xilong.yang@foxmail.com">xilong.yang@foxmail.com</a>.
            </p>
        </div>
        <main>
            <article>
                <h2 id="toys">Toys</h2>
                <ul>
                    <li>
                        <a href="https://github.com/XilongYang/STAMP">STAMP</a>: IETF RFC8762: Simple Two-Way Active Measure Protocol. C++ Implementation.
                    </li>
                    <li>
                        <a href="https://github.com/XilongYang/xinux">Xinux</a>: A web page that simulates a command line interface of a Unix-like operating system. <a href="https://xilong.site/xinux">[ Try it ]</a>
                    </li>
                </ul>
                <h2 id="posts">Posts</h2>
                <div id="posts_wrapper">
                $posts$
                </div>
            </article>
        </main>
        <div class="footnotes">
            © 2019-<span id="current-year"></span> <a href="/">Xilong Yang</a>
            | <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
            | Powered by
            <a href="https://github.com/vincentdoerig/latex-css">LaTeX.css</a>, 
            <a href="https://github.com/PrismJS/prism/">Prism</a>,
            <a href="https://github.com/mathjax/MathJax">MathJax</a>
        </div>
    </body>
</html>
