<!DOCTYPE html>
<html>
    <head>
        <title>Xilong Yang</title>
        <!--<common_head>-->
    </head>
    <body>
        <!--<navbar>-->
        <div class="header">
            <h1>Xilong Yang</h1>
        </div>
        <div class="abstract">
            <h2>About</h2>
            <p>
                Hi, this is Xilong, a programmer dedicated to making things simpler and more elegant.
                I matain a <a href="https://github.com/xilongyang">Github account</a>.
                Feel free to contact me via email: <a href="mailto:xilong.yang@foxmail.com">xilong.yang@foxmail.com</a>.
            </p>
        </div>
        <main>
            <article>
                <h2 id="toys">Toys</h2>
                <ul>
                    <li>
                        <a href="https://github.com/xilongyang/xilongyang.github.io">This site</a>: The source code of this site.
                    </li>
                </ul>
                <h2 id="posts">
                    <span style="white-space: nowrap;">Posts: <i class="material-icons icon" id="post-filter">filter_list</i></span>
                    <span id="post-filter-input" contenteditable="true"></span>
                </h2>
                <div id="posts_wrapper">
                $posts$
                </div>
            </article>
        </main>
        <!--<navigator>-->
        <!--<search_panel>-->
        <!--<footnotes>-->
    </body>
</html>
