<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>$title$ - Xilong Yang</title>
        <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/res/favicon.ico" type="image/x-icon">
        <link href="/style/wrapper.css" rel="stylesheet">
        <script src="/scripts/init.js" defer type="module"></script>
        <script src="/res/latex-css-1.10.0/prism/prism.js"></script>
        <script src="/res/mathjax/tex-chtml.js" id="MathJax-script" async></script>
    </head>
    <body>
        <div class="navbar">
            <i class="material-icons icon" id="darkmode">dark_mode</i>
        </div>
        <div class="header">
            <h1>$title$</h1>
            <p class="author">$author$<br>$date$</p>
        </div>
        <main>
            $body$
        </main>
        <div class="footnotes">
            © 2019-<span id="current-year"></span> <a href="/">Xilong Yang</a>
            | <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
            | Powered by 
            <a href="https://github.com/vincentdoerig/latex-css">LaTeX.css</a>, 
            <a href="https://github.com/PrismJS/prism/">Prism</a>,
            <a href="https://github.com/mathjax/MathJax">MathJax</a>
        </div>
    </body>
</html>
