:root {
    --color-background: #0c0c0c;
    --color-font: #f3f3f3;
    --color-link: #7c7cf3;
    --color-link-visited: #7c7cf3;
    --color-link-hover: #cc9004;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(/res/JetBrainsMono-Regular.ttf) format('truetype');
}

body {
    display: block;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 1px;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-font);
}
a{
    color: var(--color-link);
    text-decoration: none;
}
a:visited{color: var(--color-link-visited);}
a:hover{color: var(--color-link-hover);}
.message{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#curmsg{
    display: flex;
}
input.cmd{
    flex: 1;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    width: 90%;
    background-color: var(--color-background);
    color:var(--color-font);
}

/*screenfetch*/
.avatar{
    font-size:12px;
    color:var(--color-link);
    display: inline-block;
}
.fetchinfo{
    vertical-align: top;
    display: inline-block;
}

/*fakefs*/
.dir{
    color: var(--color-link);
    display: inline-block;
}
.file{
    display: inline-block;
}