.navigator {
    position: fixed;
    width: 24px;
    height: 60px;
    right: 2%;
    bottom: 2%;
}

#back-top, #go-bottom {
    border-radius: 6px;
    width: 24px;
    height: 24px;
}

#back-top:hover, #go-bottom:hover{
    color: red;
    transition: all 0.5s;
}
