html {
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    text-align: left;
}

a, a:visited {
    font-weight: bold;
    color: var(--body-color);
}

.footnotes {
    margin-top: 3.5rem;
    font-size: 0.8rem;
    text-align: center;
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    margin-right: 0;
    border-left-width: 0.3rem;
    border-left-style: solid;
}

#posts_wrapper {
    margin: 0;
    padding-left: 1rem;
}

code[class*=language-], pre[class*=language-] { 
    font-size: 0.8rem;
    scrollbar-width: thin;
    scrollbar-color: var(--kbd-border-color) var(--body-bg-color);
}

.icon {
    cursor: pointer;
}
