html {
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    text-align: left;
}

.footnotes {
    margin-top: 3.5rem;
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    margin-right: 0;
    border-left-width: 0.3rem;
    border-left-style: solid;
}

#posts_wrapper {
    margin: 0;
    padding-left: 1rem;
}