<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Fe3OS</title>
    <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
    <link href="style.css" rel="stylesheet">
    <script src="scripts/fakeshell.js"></script>
    <script src="scripts/fakefs.js"></script>
    <script src="scripts/screenfetch.js"></script>
</head>

<body>
    <div id="welcome">
        <p>Welcome to Fe3OS!<br>Type 'help' to get help message.</p>
        <p>Author:<a href="https://xilong.site">Xilong Yang</a></p>
    </div>
    <div calss="message">
        <p id="hismsg" class="message"></p>
    </div>
    <div class="message">
        [<span id="pwd">/</span>]$ 
        <input class="cmd" class="message" id="cmd"
        autofocus contenteditable="true" tabindex="-1" onkeydown="read_cmd(event)">
    </div>
    <div calss="message">
        <p id="tipsmsg" class="message"></p>
    </div>
</body>
