    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Icons -->
    <link rel="icon" href="/res/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/res/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/res/icon.jpeg">
    <meta name="apple-mobile-web-app-title" content="Xilong Yang">
    <link rel="bookmark" href="/res/icon.jpeg">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/res/icon.jpeg" >
    <!-- Style & Script -->
    <link id="anti-flash" href="/style/anti-flash-light.css" rel="stylesheet">
    <script src="/scripts/anti-flash.js"></script>
    <link href="/style/wrapper.css" rel="stylesheet">
    <link id="code-style" href="/res/latex-css-1.10.0/prism/prism-one-light.css" rel="stylesheet">
    <link id="img-invert" href="" rel="stylesheet">
    <script src="/scripts/init.js" defer type="module"></script>
    <script src="/res/latex-css-1.10.0/prism/prism.js"></script>
    <script src="/res/mathjax/tex-chtml.js" id="MathJax-script" async></script>