.page{
    margin-left: 25%;
    margin-right: 25%;
    font-family:"Noto Serif SC", Courier, monospace;
    font-size: 1em;
    text-align: justify;
}

a { 
    color: #000000;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline dotted #aaa;
}
a:visited { color: #000000}
a:hover { 
    color: #feba07;
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    width: 1.8em;
}
button:hover{
    color: #feba07;
}

div.header{
    display: grid;
    text-align: center;
    font-family: "Noto Serif SC","Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: normal;
}

div.language{
    position: absolute;
    top: 10px;
    left: 25%; 
}

.intro p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.works p,h2 {
    margin: 0%;
    margin-bottom: 0.25em;
}
div.works_title{
    font-size: 0.8em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}
div.works_item {
    margin-bottom: 0.8em;
}
div.item_header {
    display: table;
    margin:0%;
}
div.item_buttons{
    width: 4.5em;
    font-size: 0.8em;
    display: table;
    margin-right: 0.5em;
    padding: 0%;
}
div.item_button{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    line-height: 0.8em;
}
div.unused{
    color: #ddd;
    visibility: hidden;
    display: table-cell;
}
div.item_title{
    display: table-cell;
}
div.item_intro{
    display: none;
    margin-left: 2em;
}

@media screen and (max-width: 950px) {
    .page{
        margin-left: 2.5%;
        margin-right: 2.5%;
        text-align: left; 
    }
    div.language {
        top: 0;
        left: 2.5%;
    }
}